<nav
  class="navbar navbar-expand-md sticky-top bg-white border-gray-200 dark:bg-gray-900 shadow-sm"
>
  <div class="container-fluid">
    <!-- Brand -->
    <a
      class="navbar-brand flex items-center space-x-3 rtl:space-x-reverse"
      href="/"
    >
      <i class="fa-solid fa-compass text-2xl text-red-600"></i>
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >HomeAway</span
      >
    </a>

    <!-- Toggler Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div
      class="collapse navbar-collapse justify-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a
          class="nav-link text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500"
          href="/listings"
          >Explore</a
        >
        <a
          class="nav-link text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500"
          href="/listings/new"
          >Add Listing</a
        >
        <a
          class="nav-link text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500"
          href="/about"
          >About</a
        >
      </div>

      <!-- Search Box and Show All Bookings Button -->
      <div class="d-flex align-items-center">
        <form class="d-flex me-2">
          <input
            class="form-control me-2 bg-gray-50 dark:bg-gray-700 dark:text-white border-gray-300 dark:border-gray-600"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>

      <!-- Right-aligned links -->
      <div class="navbar-nav ms-auto">
        <a
          class="nav-link text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500"
          href="/contact"
          >Contact</a
        >
        <% if (user) { %>
        <a
          class="nav-link text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500"
          href="/logout"
          ><b>Logout</b></a
        >
        <% } else { %>
        <a
          class="nav-link text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500"
          href="/signup"
          ><b>Signup</b></a
        >
        <a
          class="nav-link text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500"
          href="/login"
          ><b>Login</b></a
        >
        <% } %>
      </div>
    </div>
  </div>
</nav>
