<% layout("layouts/boilerplate") %>
<body>
  <div class="row">
  <div class="col-8 offset-2">
    <br>
    <h2 class="centered-heading">Create a New Listing</h2>

  <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data" >
    <div>
      <label for="title" class="form-label">Title</label>

      <input class="form-control" type="text"  name="listings[title]" placeholder="Enter Title" required />
      <div class="valid-feedback">
        Title Looks good
      </div>
    </div>
   
    
    
    <div>
      <label for="description" class="form-label">Description</label>
      
      <textarea class="form-control"  name="listings[description]" placeholder="Enter Description" required></textarea>
      <div class="invalid-feedback">
        Please enter discription about place
       </div>
    </div>
    
    <div>
      <label for="image" class="form-label">Upload Image</label>
      <input class="form-control" type="file" id="image" name="listing[image]" required />
    </div>
    
  
    <div class="row">
    <div class="col-4">
      <label for="price" class="form-label">Price</label>
      
      <input class="form-control" type="number"  name="listings[price]" placeholder="Enter Price" required />
      <div class="invalid-feedback">
        price should be valid
      </div>
    </div>
   

    <div class="col-8">
      <label for="country" class="form-label">Country</label>
      
      <input class="form-control" type="text"  name="listings[country]" placeholder="Enter Country" required />
      <div class="invalid-feedback">
       Please enter country name
      </div>
    </div>
  </div>
    
    
    <div>
      <label for="location" class="form-label">Location</label>
      
      <input class="form-control" type="text"  name="listings[location]" placeholder="Enter Location" required />
      <div class="invalid-feedback">
        Please enter your location
       </div>
    </div>
    
    
   
    <br>
    
    <button class="btn btn-success " type="submit">Add</button>

    <br>
    <br>
  </form>
</div>
</div>
</body>
<script src="/js/script.js"></script>