<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Away</title>
</head>
<body>
  <h2>Create a new Listing</h2>
  <form method="post" action="/listings">
    <input type="text" name="listings[title]" placeholder="Enter Title" required />
    <br>
    <textarea name="listings[description]" placeholder="Enter Description" required></textarea>
    <br>
    <input type="text" name="listings[image]" placeholder="Enter Image URL/Link" required />
    <br>
    <input type="number" name="listings[price]" placeholder="Enter Price" required />
    <br>
    <input type="text" name="listings[location]" placeholder="Enter Location" required />
    <br>
    <input type="text" name="listings[country]" placeholder="Enter Country" required />
    <br>
    <button type="submit">Add</button>
  </form>
</body>
</html>
