body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}


.container{
  flex: 1;
}

/* Navbar */
.navbar {
  background-color: #c7e0fa; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 0.5rem 1rem;
}

/* Brand styling */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000; /* Dark gray text */
  text-decoration: none;
}

.navbar-brand i {
  margin-right: 8px;
}

/* Nav links */
.nav-link {
  font-size: 2rem;
  margin-right: 1rem;
  color: #000000;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.nav-link:hover {
  color: #000000; 
  text-decoration: underline; 
}

/* Navbar toggler for smaller screens */
.navbar-toggler {
  border: none;
  background-color: rgb(245, 178, 178);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Navbar collapsible */
.collapse {
  flex-grow: 1;
  justify-content: left; /* Align links to the right */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .nav-link {
    margin-right: 0;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  .navbar-nav {
    text-align: center;
  }
}




/* footer */

.footer {
  text-align: center;
  font-size: 14px;
  color: #120f15;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  background-color: rgb(149, 255, 255);
}

.footer-top {
  margin-bottom: 10px;
}

.language, .currency {
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
}

.globe-icon {
  margin-right: 5px;
}

.social-icon {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.footer-middle {
  margin-bottom: 10px;
}

.footer-bottom .footer-link {
  margin-right: 15px;
  color: inherit;
  text-decoration: none;
}

.footer-bottom .footer-link:last-child {
  margin-right: 0;
}

.footer-bottom .footer-link:hover {
  text-decoration: underline;
}



.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;

}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
  
}


.card-link {
  text-decoration: none;
}

.card-link:hover .card {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}




/* new.ejs heading style */

.centered-heading {
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;     
  font-size: 2rem;         
  font-weight: bold;        
  color: #333;                       
}


/* show page */

.show-img{
  height: 30vh;
}


.btns{
  display: flex;
}










